=render :partial => "layouts/header"
%div{:id => 'full_page'}
  %div#content
    %div#intro
      %h1 
        Welcome to Joy and Mirth Coven.
      %p
        We are a Celtic, ecclectic coven of mixed age, gender, sexual orientation, perspective and experience.
        We gather locally to celebrate the eight Sabbats in open Circles as well as the thirteen Esbats (full moons) in closed Circles.
      %p
        We are a casual, versus traditional, group. We do not, as a coven, ascribe to a patron diety. 
        Instead, we recognize and honor the balance of masculine and feminine energy in the Universe and within all of us.
      %p
        We make no assumptions or expectations of those attending or participating in our gatherings. 
        Formal membership to the coven is by invitation, after a relationship is established through regular participation and contact, 
        as well as a goodness-of-fit is agreed upon by a majority of coveners.
        Guests and new participants are welcome and encouraged. We are also currently accepting new coveners. 
        Any member of the coven may be contacted for additional information.
=render :partial => "layouts/footer" 