div#login_reg{
	width: 600px;
	height: 250px;
	background-color: lime;
	overflow: hidden;
}
#register{
	width: 10%;
	position: relative;
	float: left;
}

#login{
	width: 50%;
	position: relative;
	float: right;
	top: -200px;
	height: 200px;
}

form#validate{
	width: 50%;
	height: 300px;
}
input{
	position: absolute;
	left: 105px;
}

div#logos img{
	height: 45px;
	width: 45px;
	padding-left: 30%;
}
#logos{
	float: left;
	width: 30%;
	overflow: hidden;
	padding-top: 15px;
	top: 0px;
}
div#text-link div{
	padding-top: 25px;	
}
/*
div#text-link a:link{
	text-decoration: none;
	color: black;
	font-size: 20px;
	
}
*/