%div.decor#top
  %img#name{:alt => '', :src => '/images/name.png'}
  %img#ptrn{:alt => '', :src => '/images/ptrn.png'}
%div#register
  %a{:id => 'reg_link', :href => '/html/login.html'} login/register
%div#link
  %ul{:id => 'nav_link'}
    %li
      %a{:id => 'home_link', :href => '#'} Home
    %li
      %a{:id => 'cal_link', :href => '#'} Calendar
    %li
      %a{:id => 'bio_link', :href => '#'} Bios
    %li
      %a{:id => 'res_link', :href => '#'} Resources

